:root {
  --font: 'Poppins', sans-serif;
  --bg-color: #1c2835;
  --gen-bg-color: #084a5e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  background-color: var(--bg-color);
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  font-family: var(--font);
  font-weight: 400;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

#generator-container {
  background-color: var(--gen-bg-color);
  width: 90%;
  max-width: 450px;
  padding: 20px 20px 0;
  border-radius: 15px;
}

#password {
    padding-left: 10px;
}

button {
  font: inherit;
  text-transform: uppercase;
  border: none;
  font-weight: 700;
  padding: 5px 15px;
}

div.password,
div.range {
  display: grid;
  grid-template-columns: auto min-content;
}

div.range {
    margin-block: 15px;
}

div.password {
    overflow: hidden;
    border-radius: 10px;
}

button.generate {
    border-radius: 10px;
    margin-block: 20px;
    width: 100%;
    cursor: pointer;
}

div.range span {
    padding: 10px;
    margin-left: 15px;
    min-width: 45px;
    text-align: center;
    border-radius: 50%;
    background-color: mediumpurple;
}

div.options {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

div.options label {
    display: block;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}